RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Enforce "www" prefix and HTTPS
RewriteCond %{HTTP_HOST} ^citrusnode\.com$
RewriteRule ^(.*)$ https://www.citrusnode.com/$1 [R=301,L]

ErrorDocument 404 /404.html